/* Navigation  */
#navbar{
    flex-direction: column;
    height: 500px;
}

#navbar ul{
    /* flex-direction: column; */
    margin-right: 350px;
}

#logo img{
    margin-right: 250px;
}

/* Home section  */
#home{
    height: 370px;  
}


/* Services section  */
#services{
    flex-direction: column;
}

#services .box{

}


/* Client section  */
#clients{
    overflow: hidden;
}

/* Contact Us section  */
